@font-face {
  font-family: "Cascadia Code";
  src: url("/css/fonts/CascadiaCode.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("/css/fonts/CascadiaCodeItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "OPPO Sans 4.0";
  src: url("/css/fonts/OPPOSans4.0.woff2");
  font-style: normal;
}