@font-face {
	font-family: "Cascadia Code";
	src: url("/css/fonts/CascadiaCode.woff2");
	font-style: normal;
}
@font-face {
	font-family: "Cascadia Code";
	src: url("/css/fonts/CascadiaCodeItalic.woff2");
	font-style: italic;
}
