p pre,
p code,
code.hljs {
	font-family: 'Monaco', 'Cascadia Code', monospace !important;
}

div.code-widget {
	font-weight: 400;
}

figure.highlight>table>tbody>tr :is(td, pre, code) {
	background-color: rgb(48, 48, 48) !important;
}