p pre,p code,code.hljs {
	font-family: 'Monaco', 'Cascadia Code', Consolas, 'Andale Mono', 'Ubuntu Mono',monospace!important;
}
div.code-widget {
	font-family: 'Red Hat Display';
	font-weight: 400;
}
html[data-user-color-scheme=dark] .highlight table{
	background-color: #222222!important;
}
