
a.navbar-brand strong {
	font-family: 'Red Hat Display', 'Noto Sans SC';
	font-weight: 900;
	font-size: 1.35rem!important;
}
nav.navbar-dark a,nav.navbar-dark strong{
	color: white!important;
}
li.nav-item a.nav-link {
	font-size: 1rem!important;
}